*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
}

body {
    background-image: url('https://edm.com/.image/t_share/MTY2NjEzNDc3NjgxNTM4Mzkw/scandroid---synthwave.jpg');
    background-color: #D49B54;
}

#Paper {
    background-color: #C74B50;
}

#TableRow {
    background-color: #46244C;
}

.template {
    align-items: center;
}

#inputBar {
    background-color: #C74B50 ;
}

.link {
    color: #D49B54;
}

